@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/500.css";
@import "@fontsource/open-sans/600.css";
@import "@fontsource/open-sans/700.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

/* ==========================================================
   THEME COLOR
========================================================== */

@theme {
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Open Sans', sans-serif;
    --font-sans: 'Open Sans', sans-serif;

    --color-primary: #5AA8D6;
    --color-secondary: #3A4163;
    --color-background: #EDF3FB;
    --color-accent: #CBE3EF;
    --color-surface: #FFFFFF;
}

    .login-card{
        @apply bg-white rounded-xl shadow-lg p-8;
    }

    .form-label{
        @apply block mb-2 text-sm font-medium text-gray-700;
    }

    .form-input{
        @apply w-full rounded-lg border border-gray-300 px-4 py-2.5 pr-4 pl-10
            focus:outline-none
            focus:ring-2
            focus:ring-[#5AA8D6]
            focus:border-[#5AA8D6];
    }
    .btn-primary{
        @apply w-full rounded-lg py-2.5
            font-semibold
            text-white
            transition-all
            duration-300;
        background-color:#5AA8D6;
    }

    .btn-primary:hover{
        background-color:#3A4163;
    }

    .heading{
        font-family: 'Poppins', sans-serif;
    }

    .body-text{
        font-family:'Open Sans',sans-serif;
    }

    .sidebar{
        font-family: 'Poppins', sans-serif;
    }

    .card{
        @apply bg-white rounded-xl shadow-sm;
    }

    .card-header{
        @apply border-b px-6 py-4;
    }

    .table-header{
        @apply bg-gray-100;
    }

    .table-th{
        @apply px-6 py-3 text-left font-semibold;
    }

    .table-td{
        @apply px-6 py-4;
    }
